:host {
	&.ongoing .card {
		background-color: #f8f8f8;
		border: 1px solid transparent;
	}

	&.pending .card {
		& .event-time {
			color: #212529;
			background-color: #ffc107;
		}
	}

	&.ended .card {
		background-color: #f8f8f8;
		border: 1px solid transparent;

		& .event-time {
			color: var(--primary-color);
			background-color: transparent;
			box-shadow: inset 0 0 0 1px var(--primary-color);
		}
	}
}

.card {
	position: relative;
	height: 325px;
	border-radius: 6px;

	& .card-body {
		padding: 24px;
		overflow: hidden;
		white-space: normal;
	}

	& .card-text {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 6; /* number of lines to show */
		line-clamp: 6;
		-webkit-box-orient: vertical;
	}

	& .card-link {
		margin-top: auto;
	}

	& .event-time {
		position: absolute;
		bottom: 0;
		color: white;
		background-color: var(--primary-color);
		font-size: 12px;
		border-radius: 12px;
		padding: 3px 8px;
	}
}