<div class="card">

	<div class="change-poster user-select-none" onclick="document.getElementById('upload-event-poster').click();">
		<p class="upload-event-poster-text text-center">Change event poster</p>
		<input id="upload-event-poster" class="btn-change-poster" type="file">
		<!-- <img class="event-poster" src="../../../../assets/earth cake 2.png"> -->
		<div class="event-poster" [style.background]="eventPosterColor"></div>
	</div>

	<div class="card-body">
		<h6 class="card-title">{{item.event_title}}</h6>
		<p class="card-subtitle mb-2 text-muted">{{eventDate|date}}</p>
		<p class="card-text">{{item.event_description}}</p>
		<p class="event-time">{{eventDate |  date:'h:mm a'}} - {{eventEndDate |  date:'h:mm a'}} &nbsp;●&nbsp; {{item.seminar_hours}} hr</p>

    <a [routerLink]="['/homescreen/events/', eventUUID]" class="stretched-link" style="color: transparent;"></a>
	</div>
	<div class="progress event-progress-bar">
    <div class="progress-bar"
      [ngClass]="{'progress-bar-animated progress-bar-striped': currentProgress < 100}"
      [style.width]="currentProgress+'%'"
      role="progressbar" [attr.aria-valuenow]="currentProgress" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
