<div class="card">
	<div class="card-body">
		<h6 class="card-title">Event title</h6>
		<p class="card-subtitle mb-2 text-muted">October 3, 2021</p>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
			Some quick example text to build on the card title and make up the bulk of the card's content.
			Some quick example text to build on the card title and make up the bulk of the card's content.
			Some quick example text to build on the card title and make up the bulk of the card's content.
		</p>
		<p class="event-time">12:00 PM - 2:00PM</p>
	</div>
	<div class="event-progress-bar">
		<div class="progress-bar-day"></div>
	</div>
</div>