:host {
	&.ongoing .card {
		background-color: var(--background);
		border: 1px solid rgba(0, 0, 0, .08);
	}

	&.pending .card {
		& .event-time {
			color: #FF6F00;
			background-color: #FFF8E1;
			box-shadow: inset 0 0 0 1px #FFA000;
		}
	}

	&.ended .card {
		background-color: var(--background);
		border: 1px solid rgba(0, 0, 0, .08);

		& .event-time {
			color: var(--primary-color);
			background-color: transparent;
			box-shadow: inset 0 0 0 1px var(--primary-color);
		}
	}
}

.change-poster {
	z-index: 100;
	position: relative;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
	}

	&:hover:before {
		background-color: rgba(0, 0, 0, 0.5);
	}

	&:hover .upload-event-poster-text {
		opacity: 1;
	}
}

.upload-event-poster-text {
	color: white;
	// z-index: 101;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.btn-change-poster {
	display: none;
}

.event-poster {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card {
	position: relative;
	height: 400px;
	border-radius: 8px;
	overflow: hidden;

	& .card-body {
		padding: 18px;
		overflow: hidden;
		white-space: normal;
	}

  & .card-title {
    font-size: 18px;
    margin-bottom: 0.4rem;

    overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
		line-clamp: 2;
		-webkit-box-orient: vertical;
  }

  & .card-subtitle {
    font-size: 14px;
  }

	& .card-text {
		width: 100%;
    font-size: 14px;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 10; /* number of lines to show */
		line-clamp: 10;
		-webkit-box-orient: vertical;
	}

	& .card-link {
		margin-top: auto;
	}

	& .event-time {
		position: absolute;
		bottom: 4px;
		color: white;
		background-color: var(--primary-color);
		font-size: 12px;
		border-radius: 12px;
		padding: 3px 8px;
	}
}

.event-progress-bar {
	height: 5px;
}

.progress-bar {
  background-color: var(--primary-color);
}