.gs-card {
  // height: 716px;
}

.new-event-container {
  height: 757px;
  flex: 1;
  color: rgba(0, 0, 0, 0.3);
  border: 2px dashed rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 35px;
  
  &:hover {
    background-color: #f0f0f0;
  }
}
