:host {
    padding: 0;
}

#create-event-container {
    overflow-y: auto;
    height: calc(100vh - 64px);
}

#text-header {
    padding: 0 0 32px;
}

.cards-list-container {
    // background-color: red;
    // flex: 1;
    // display: grid;
    // grid-gap: 36px;
    // grid-auto-flow: column;
    // height: 100vh;
    // overflow-y: auto;
    // white-space: nowrap;
    // padding: 32px 64px;
}

.event-container { 
    background-color: white;
    // width: 500px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 36px;
    margin-bottom: 32px;
}

.new-event-container {
    color: rgba(0, 0, 0, 0.3);
    border: 2px dashed rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
    &:hover {
        background-color: #f0f0f0;
    }
}
