<div class="text-header">
  <h4>Create Event</h4>

	<div class="header-buttons">
    <form [formGroup]="invitationForm">
      <button id="create-button" class="btn btn-primary" [disabled]="isEventCreating || !isEventFormDirty" (click)='saveEvents()'>
				<i class="bi bi-plus">&nbsp;</i>
        Create
        <span [style.display]="isEventCreating ? 'inline-block' : 'none'">&nbsp;
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="visually-hidden">Loading...</span>
        </span>
			</button>
    </form>
	</div>
</div>

<div class="cards-list-container row g-4">
	<app-event-card
    *ngFor="let event of events"
    (eventData)="addEventData($event)"
    (eventDataToDelete)="deleteCard($event)"
    (eventDataToDelete)="deleteEvent($event)">
	</app-event-card>
	<div class="d-flex col-xl-6" (click)='addCard()'>
		<div class="gs-card new-event-container position-relative">
			<div class="gs-card-text">
				<h5>Event {{count+1}}</h5>
			</div>
			<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 64px;">
				<i class="bi bi-plus-square-fill"></i>
			</div>
		</div>
	</div>
</div>
