.gs-card {
  // height: 716px;
}

.new-event-container {
  height: 757px;
  flex: 1;
  color: var(--bs-gray-500);
  border: 2px dashed var(--bs-gray-500);
  cursor: pointer;
  padding: 35px;
  
  &:hover {
    background-color: var(--bs-gray-100);
  }
}
