<div class="text-header">
  <h4>Dashboard</h4>
</div>

<div class="accordion gs-accordion mb-4" id="overall-analytics-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header gs-card-text" id="overall-analytics-heading">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#overall-analytics"
        aria-expanded="true" aria-controls="collapseOne">
          <h5>Overall Data Comparison</h5>
      </button>
    </h2>
    <div id="overall-analytics" class="accordion-collapse collapse show"
      aria-labelledby="overall-analytics-heading" data-bs-parent="#overall-analytics-accordion">
      <div class="accordion-body">
        <app-grouped-vertical-bar-chart></app-grouped-vertical-bar-chart>
      </div>
    </div>
  </div>
</div>

<!-- <div class="gs-card mb-4">
  <div class="gs-card-header mb-4">
		<div class="gs-card-text">
			<h5>Overall ViewsAnalyticsCount</h5>
		</div>
  </div>
  <app-grouped-vertical-bar-chart></app-grouped-vertical-bar-chart>
</div> -->

<div class="gs-card p-0">
  <table class="table table-hover table-click dashboard-table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Event Name</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Invited</th>
          <th scope="col">Attended</th>
          <th scope="col">Views</th>
          <th scope="col">Registrants</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventsSummary"  (click)="open_analytics_page(event.event_uuid)">
        <th scope="row">{{event.event_id}}</th>
        <td>{{event.event_title}}</td>
        <td>{{getEventDate(event) | date}}</td>
        <td>{{getEventStartTime(event) | date:'h:mm a'}} - {{getEventEndTime(event) | date:'h:mm a'}}</td>
        <td>{{event.overallAnalytics?.invited? event.overallAnalytics.invited : 0 }}</td>
        <td>{{event.overallAnalytics?.attendees? event.overallAnalytics.attendees: 0}}</td>
        <td>{{event.overallAnalytics?.views? event.overallAnalytics.views: 0}}</td>
        <td>{{event.overallAnalytics?.registered ? event.overallAnalytics.registered: 0}}</td>
      </tr>
    </tbody>
  </table>
</div>
