<div class="login-body">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['home']">GC-SEAMS</a>
        </div>
    </nav>
    
    <div class="login-container container">
        <main class="form-login">
            <h1 class="mb-4">Log in to GC-SEAMS</h1>

            <form [formGroup]='profileForm'>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="student_id@gordoncollege.edu.ph" required>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" required>
                </div>

                <div class="d-grid gap-3">
                    <button type="submit" class="btn-lg btn-primary" type="submit" (click)='login()' [routerLink]="['/homescreen']">Login</button>
                    <button type="button" class="btn-lg btn-secondary" (click)='register()' [routerLink]="['/register']">Register</button>
                </div>
            </form>
        </main>
     </div>
</div>

