<div class="login-body">
	<nav class="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" [routerLink]="['']">GC-SEAMS</a>
		</div>
	</nav>

	<div class="login-container container px-4 py-5">
		<main class="form-login">
			<h1 class="mb-5">Log in to GC-SEAMS</h1>

			<form [formGroup]='credentialsForm'>
				<div class="mb-3">
					<label for="email" class="form-label">GC Domain Email</label>
					<input type="email" class="form-control" id="email" formControlName="email" required>

					<span *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="validation-error">
						<!-- you can change the border color of the field cuguro kung pwede para di masira ang ui :)-->
						<div *ngIf="email?.errors?.required" class="text-danger text-helper mt-1">
							Email is required
						</div>
						<div *ngIf="email?.errors?.email" class="text-danger text-helper mt-1">
							Invalid email
						</div>
					</span>
				</div>

				<div class="mb-4">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" formControlName="password" required>
					<span *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="validation-error">
						<!-- you can change the border color of the field cuguro kung pwede para di masira ang ui :)-->
						<div *ngIf="password?.errors?.required" class="text-danger text-helper mt-1">
							Password is required
						</div>
					</span>
        </div>

				<div class="d-grid gap-3">
					<button type="submit" class="btn btn-lg btn-primary" type="submit" [disabled]="credentialsForm.invalid" (click)='login()'>Login</button>
					<button type="button" class="btn btn-lg btn-secondary" [routerLink]="['/register']">Register</button>
				</div>
			</form>
		</main>
	</div>
</div>

