<div class="tabs">
	<ul class="nav">
		<li class="nav-item">
			<a [routerLink]="['ongoing']"
			[ngClass]="{'active': currentTab === 'ongoing'}"
			class="nav-link active">Ongoing Events</a>
      <div class="active-tab-indicator"></div>
		</li>
		<li class="nav-item">
			<a [routerLink]="['upcoming']"
			[ngClass]="{'active': currentTab === 'upcoming'}"
			class="nav-link">Upcoming Events</a>
      <div class="active-tab-indicator"></div>
		</li>
		<li class="nav-item">
			<a [routerLink]="['past']"
			[ngClass]="{'active': currentTab === 'past'}"
			class="nav-link">Past Events</a>
      <div class="active-tab-indicator"></div>
		</li>
	</ul>
</div>

<div class="events-container">
	<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
	<!-- <div class="row gy-4">
    	<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
  	</div> -->
</div>
