<div class="tabs">
	<ul class="nav">
		<li class="nav-item">
			<a [routerLink]="['ongoing']" class="nav-link active" aria-current="page">Ongoing Events</a>
		</li>
		<li class="nav-item">
			<a [routerLink]="['pending']" class="nav-link">Pending Events</a>
		</li>
		<li class="nav-item">
			<a [routerLink]="['ended']" class="nav-link">Ended Events</a>
		</li>
	</ul>
</div>

<div class="events-container">
	<router-outlet></router-outlet>
	<!-- <div class="row gy-4">
    	<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
  	</div> -->
</div>