<div class="tabs">
	<ul class="nav">
		<li class="nav-item">
			<a [routerLink]="['ongoing']"
			[ngClass]="{'active': currentPage === 'ongoing'}"
			(click)="activePage('ongoing')" 
			class="nav-link active">Ongoing Events</a>
		</li>
		<li class="nav-item">
			<a [routerLink]="['pending']"
			[ngClass]="{'active': currentPage === 'pending'}"
			(click)="activePage('pending')" 
			class="nav-link">Pending Events</a>
		</li>
		<li class="nav-item">
			<a [routerLink]="['ended']"
			[ngClass]="{'active': currentPage === 'ended'}"
			(click)="activePage('ended')" 
			class="nav-link">Ended Events</a>
		</li>
	</ul>
</div>

<div class="events-container">
	<router-outlet></router-outlet>
	<!-- <div class="row gy-4">
    	<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
		<events-event-card></events-event-card>
  	</div> -->
</div>