<div class="input-group event-search-bar mb-4">
	<!-- [ngClass]="isSidenavExpanded ? 'mb-4' : 'mb-5'" -->
	<span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
  <input type="text" class="form-control" placeholder="Search past events..." [(ngModel)]="searchText" aria-label="Search speaker">
</div>

<div [ngClass]="isSidenavExpanded ? 'row g-3' : 'row g-4'">
	<events-event-card  class="ended col-xl-3 col-lg-4 col-md-6 col-sm-12"
		*ngFor="let event of endedEvents | filter:searchText" [item]="event"></events-event-card>
</div>