<div class="event-container">
  <div class="card-text-header mb-4">
    <h5>Event {{event.ID}}</h5>

    <div class="card-header-buttons">
      <button type="button" class="btn btn-sm">
        <i class="far fa-clone"></i>
      </button>
      <button type="button" class="btn btn-sm" (click)='deleteEvent()'>
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <form [formGroup]='eventForm' autocomplete="off">
    <div class="mb-3">
      <label [attr.for]="'event-name'+event.ID" class="form-label">Event Name</label>
      <input [attr.id]="'event-name'+event.ID" class="form-control form-control-sm" [(ngModel)]='event.eventName' type="text" formControlName="eventName" required>
    </div>

    <div class="mb-3">
      <label [attr.for]="'event-details'+event.ID" class="form-label">Event Details</label>
      <textarea [attr.id]="'event-details'+event.ID" class="form-control form-control-sm" type="text" style="resize: none;" [(ngModel)]='event.eventDetails' formControlName="eventDetails" rows="3" required></textarea>
    </div>

    <div class="row gx-3">
      <div class="col-md-4 mb-3">
        <label [attr.for]="'date'+event.ID" class="form-label">Date</label>
        <input [attr.id]="'date'+event.ID" class="form-control form-control-sm" type="date"
          [min]="minDate"
          [(ngModel)]='event.eventDate' formControlName="eventDate" required>
      </div>

      <div class="col-md-8">
        <label [attr.for]="'from-time'+event.ID" class="form-label">Time</label>

        <div class="row gx-2 ">
          <div class="col-sm-6 mb-3">
            <div class="input-group input-group-sm">
              <label class="input-group-text" [attr.for]="'from-time'+event.ID" [attr.id]="'label-from-time'+event.ID">From</label>
              <input [attr.id]="'from-time'+event.ID" class="form-control" type="time" [(ngModel)]='event.eventStartTime' formControlName="eventStartTime" required>
            </div>
          </div>

          <div class="col-sm-6 mb-3">
            <div class="input-group input-group-sm">
              <label class="input-group-text" [attr.for]="'to-time'+event.ID" [attr.id]="'label-to-time'+event.ID">To</label>
              <input [attr.id]="'to-time'+event.ID" class="form-control" type="time" [(ngModel)]='event.eventEndTime' formControlName="eventEndTime" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label [attr.for]="'seminar-hours'+event.ID" class="form-label">Seminar Hours</label>
      <input [attr.id]="'seminar-hours'+event.ID" class="form-control form-control-sm" type="number" required>
    </div>

    <div class="mb-3">
      <label [attr.for]="'invite-department'+event.ID" class="form-label">Invite Departments</label>
      <div class="input-group input-group-sm">
        <input [attr.id]="'invite-department'+event.ID" class="form-control" type="text" [value]="chosenDepartmentsList" readonly required>
        <button class="btn btn-primary" type="button" style="border-radius: 0 4px 4px 0;" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <i class="bi bi-plus"></i>
        </button>
        <ul class="dropdown-menu">
          <!-- <li *ngFor="let department of departments" class="dropdown-item d-flex justify-content-between align-items-center">
            <label>{{department.department_code}}</label>
            <input class="form-check-input ms-4 me-1" type="checkbox" value="" aria-label="..." (change)="onNativeChange($event, department)">
          </li> -->
          <label *ngFor="let department of departments" style="display: block; cursor: pointer;">
            <li class="dropdown-item d-flex justify-content-between align-items-center">
              {{department.department_code}}
              <input class="form-check-input me-1 mt-0" type="checkbox" value="" aria-label="..." (change)="onNativeChange($event, department)">
            </li>
          </label>
        </ul>
      </div>
    </div>

    <div class="mb-3">
      <label [attr.for]="'invite-speakers'+event.ID" class="form-label">Invite Speakers</label>
      <div class="input-group input-group-sm">
        <input [attr.id]="'invite-speakers'+event.ID" class="form-control" type="text" [value]="chosenSpeakersList" formControlName="eventSpeakers" readonly required>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal"[attr.data-bs-target]="'#speaker-modal'+event.ID" aria-expanded="false">
          <i class="bi bi-person-plus-fill"></i>
        </button>
      </div>
    </div>

    <div>
      <label [attr.for]="'registration-form'+event.ID" class="form-label">Registration Form</label>
      <input [attr.id]="'registration-form'+event.ID" class="form-control form-control-sm" type="text" [(ngModel)]='event.eventRegistrationForm' formControlName="eventRegistrationForm" required>
    </div>
  </form>
</div>

<!--MODAL-->
<div class="modal fade" [attr.id]="'speaker-modal'+event.ID" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Add Speakers</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!--form group for add speaker functionality-->
        <form [formGroup]='speakerForm' autocomplete="off">
          <div class="mb-2">
            <input type="text" class="form-control form-control-sm"  formControlName="speakerName"  placeholder="Full name" aria-label="full name" required>
            <div *ngIf="speakerName?.errors?.required && speakerName?.touched" class="text-danger text-helper mt-1">
              Full name is required
            </div>
          </div>

          <div class="mb-2">
            <input type="email" class="form-control form-control-sm"  formControlName="speakerEmail" placeholder="Email address" aria-label="email address" required>
            <span *ngIf="speakerEmail?.invalid && (speakerEmail?.dirty || speakerEmail?.touched)" class="validation-error">
              <div *ngIf="speakerEmail?.errors?.required" class="text-danger text-helper mt-1">
                Email is required
              </div>
              <div *ngIf="speakerEmail?.errors?.email" class="text-danger text-helper mt-1">
                Invalid Email
              </div>
            </span>
          </div>

          <div class="mb-2">
            <input type="text" class="form-control form-control-sm" formControlName="speakerDescription"  placeholder="Description" aria-label="description" required>
            <div *ngIf="speakerDescription?.errors?.required && speakerDescription?.touched" class="text-danger text-helper mt-1">
              Description is required
            </div>
          </div>

          <div class="d-grid mb-2">
            <button class="btn btn-sm btn-primary" type="button" [disabled]="speakerForm.invalid" (click)="addNewSpeaker()">Save Speaker</button>
          </div>
        </form>

        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" placeholder="Search speaker..." [(ngModel)]="searchText" aria-label="Search speaker">
          <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
        </div>

        <div class="mb-3">
          <p class="mb-2">Chosen Speakers: {{this.chosenSpeaker.length}}</p>

          <ul class="list-group" [style.display]="this.chosenSpeaker.length >= 1 ? 'block' : 'none'">
            <ng-container *ngFor="let speaker of chosenSpeaker">
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-danger" type="button" (click)="removeSpeakerFromChosen(speaker)">Remove</button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>

        <div>
          <p class="mb-2">Available Speakers: {{speakers.length - chosenSpeaker.length}}</p>

          <ul class="list-group" [style.display]="chosenSpeaker.length != speakers.length ? 'block' : 'none'">
            <ng-container *ngFor="let speaker of speakers | filter:searchText">
              <li class="list-group-item" *ngIf="!speaker.speaker_chosen">
                <div  class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-primary" type="button" (click)="addSpeaker(speaker)">Add</button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="saveSpeaker()">Save</button>
      </div>
    </div>
  </div>
</div>
