<div class="event-container">
  <div class="card-text-header mb-4">
    <h5>Event {{event.ID}}</h5>

    <div class="header-buttons">
      <button type="button" class="btn btn-sm">
        <i class="far fa-clone"></i>
      </button>
      <button type="button" class="btn btn-sm" (click)='deleteEvent()'>
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <form [formGroup]='eventForm' autocomplete="off">
    <div class="mb-3">
      <label for="event-name" class="form-label">Event Name</label>
      <input id="event-name" class="form-control form-control-sm" [(ngModel)]='event.eventName' type="text" formControlName="eventName" required>
    </div>

    <div class="mb-3">
      <label for="event-details" class="form-label">Event Details</label>
      <textarea id="event-details" class="form-control form-control-sm" type="text" style="resize: none;" [(ngModel)]='event.eventDetails' formControlName="eventDetails" rows="3" required></textarea>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12 mb-3">
        <label for="date" class="form-label">Date</label>
        <input id="date" class="form-control form-control-sm" type="date" [(ngModel)]='event.eventDate' formControlName="eventDate" required>
      </div>
      <div class="col-md-8 col-sm-12 mb-3">
        <label for="time" class="form-label">Time</label>
        <div class="input-group input-group-sm">
          <span class="input-group-text" id="basic-addon3">From</span>
          <input id="from-time" class="form-control" type="time" [(ngModel)]='event.eventStartTime' formControlName="eventStartTime" required>
          <span class="input-group-text" id="basic-addon3">To</span>
          <input id="to-time" class="form-control" type="time" [(ngModel)]='event.eventEndTime' formControlName="eventEndTime" required>
        </div>
      </div>
    </div>

    <!-- <div class="mb-3">
      <label for="invite" class="form-label">Invite</label>
      <select id="invite" class="form-select form-select-sm" [(ngModel)]='event.departments'>
        <option value="" selected disabled hidden>Select Department</option>
        <option *ngFor="let department of departments">{{department.department_code}}</option>
      </select>
    </div> -->

    <div class="mb-3">
      <label for="" class="form-label">Invitation</label>
      <div class="input-group input-group-sm">
        <input id="" class="form-control" type="text" [value]="chosenDepartmentsList" readonly required>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Invite Department
        </button>
        <ul class="dropdown-menu">
          <!-- <li *ngFor="let department of departments" class="dropdown-item d-flex justify-content-between align-items-center">
            <label>{{department.department_code}}</label>
            <input class="form-check-input ms-4 me-1" type="checkbox" value="" aria-label="..." (change)="onNativeChange($event, department)">
          </li> -->
          <label *ngFor="let department of departments" style="display: block; cursor: pointer;">
            <li class="dropdown-item d-flex justify-content-between align-items-center">
              {{department.department_code}}
              <input class="form-check-input me-1 mt-0" type="checkbox" value="" aria-label="..." (change)="onNativeChange($event, department)">
            </li>
          </label>
        </ul>
      </div>
    </div>

    <div class="mb-3">
      <label for="speakers" class="form-label">Speakers</label>
      <div class="input-group input-group-sm">
        <input id="speakers" class="form-control" type="text" [value]="chosenSpeakersList" formControlName="eventSpeakers" readonly required>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="modal" data-bs-target="#speaker-modal" aria-expanded="false">Add Speakers</button>
      </div>
    </div>

    <div>
      <label for="registration-form" class="form-label">Registration Form</label>
      <input id="registration-form" class="form-control form-control-sm" type="text" [(ngModel)]='event.eventRegistrationForm' formControlName="eventRegistrationForm" required>
    </div>
  </form>
</div>

<!--MODAL-->
<div class="modal fade" id="speaker-modal" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Add Speakers</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!--form group for add speaker functionality-->
        <form [formGroup]='speakerForm' autocomplete="off">
          <div class="mb-2">
            <input type="text" class="form-control form-control-sm"  formControlName="speakerName"  placeholder="Full name" aria-label="full name" required>
            <div *ngIf="speakerName?.errors?.required && speakerName?.touched" class="text-danger text-helper mt-1">
              Full name is required
            </div>
          </div>
          
          <div class="mb-2">
            <input type="email" class="form-control form-control-sm"  formControlName="speakerEmail" placeholder="Email address" aria-label="email address" required>
            <span *ngIf="speakerEmail?.invalid && (speakerEmail?.dirty || speakerEmail?.touched)" class="validation-error">
              <div *ngIf="speakerEmail?.errors?.required" class="text-danger text-helper mt-1">
                Email is required
              </div>
              <div *ngIf="speakerEmail?.errors?.email" class="text-danger text-helper mt-1">
                Invalid Email
              </div>
            </span>
          </div>

          <div class="mb-2">
            <input type="text" class="form-control form-control-sm" formControlName="speakerDescription"  placeholder="Description" aria-label="description" required>
            <div *ngIf="speakerDescription?.errors?.required && speakerDescription?.touched" class="text-danger text-helper mt-1">
              Description is required
            </div>
          </div>

          <div class="d-grid mb-2">
            <button class="btn btn-sm btn-primary" type="button" [disabled]="speakerForm.invalid" (click)="addNewSpeaker()">Save Speaker</button>
          </div>
        </form>

        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" placeholder="Search speaker..." aria-label="Search speaker">
          <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let speaker of speakers">
            <div class="d-flex align-items-center">
              <div id="profile-pic"></div>
              <div class="mx-3">
                <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
              </div>
              <div style="margin-left: auto;">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." (change)="addSpeaker(speaker)">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save</button>
      </div>
    </div>
  </div>
</div>

