<div class="gs-card">
  <div class="gs-card-header mb-4">
		<div class="gs-card-text">
			<h5>Event {{event.ID}}</h5>
		</div>

    <div class="gs-card-buttons">
			<button type="button" class="btn" data-bs-toggle="modal" [attr.data-bs-target]="'#preview-event-modal'+event.ID" aria-expanded="false">
        <i class="far fa-image" data-bs-toggle="tooltip" data-bs-placement="top" title="Change Event Poster/Preview Event"></i>
      </button>
      <button type="button" class="btn">
        <i class="far fa-clone" data-bs-toggle="tooltip" data-bs-placement="top" title="Duplicate Event"></i>
      </button>
      <button type="button" class="btn" [disabled]="event.ID == 1" (click)='deleteEvent()'>
        <i class="far fa-trash-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Event"></i>
      </button>
    </div>
  </div>

  <!-- event name -->
  <form [formGroup]='eventForm' autocomplete="off">
    <div class="mb-3">
      <label [attr.for]="'event-name'+event.ID" class="form-label">Event Name</label>
      <input [attr.id]="'event-name'+event.ID" class="form-control form-control-sm" type="text"
        [(ngModel)]='event.eventName' formControlName="eventName" required>
    </div>

    <!-- event details -->
    <div class="mb-3">
      <label [attr.for]="'event-details'+event.ID" class="form-label">Event Details</label>
      <textarea [attr.id]="'event-details'+event.ID" class="form-control form-control-sm" type="text" style="resize: none;" rows="3"
        [(ngModel)]='event.eventDetails' formControlName="eventDetails" required></textarea>
    </div>

    <!-- date and time -->
    <div class="row gx-4">
      <div class="col-md-4 position-relative mb-3">
        <label [attr.for]="'date'+event.ID" class="form-label">Date</label>
        <input [attr.id]="'date'+event.ID" class="form-control form-control-sm" type="date" [attr.min]="minDate"
					(change)="restrictEventDate($event)"
          [(ngModel)]='event.eventDate' formControlName="eventDate" required>
          <div class="invalid-tooltip">
            Please input a present or future date.
          </div>
      </div>

      <div class="col-md-8 mb-3">
        <label [attr.for]="'from-time'+event.ID" class="form-label">
          Time&nbsp;
          <i class="bi bi-question-circle-fill" style="opacity: 0.6;"
            [attr.title]="'Within school hours - 8:00 AM to 8:00 PM'"
            data-bs-toggle="tooltip" data-bs-placement="right"></i>
        </label>

        <div class="row g-2">
          <div class="col-sm-6">
            <div class="input-group input-group-sm has-validation">
              <label class="input-group-text" [attr.for]="'from-time'+event.ID" [attr.id]="'label-from-time'+event.ID">From</label>
              <input [attr.id]="'from-time'+event.ID" class="form-control" type="time" min="08:00" max="20:00"
								(change)="restrictEventTime($event)"
								[(ngModel)]='event.eventStartTime' formControlName="eventStartTime" required>
                <div class="invalid-tooltip">
                  Only within school hours (8:00 AM - 8:00 PM)
                </div>
								<!-- <div *ngIf="eventStartTime?.errors?.['required']">
									Name is required.
								</div> -->
            </div>
          </div>

          <div class="col-sm-6">
            <div class="input-group input-group-sm has-validation">
              <label class="input-group-text" [attr.for]="'to-time'+event.ID" [attr.id]="'label-to-time'+event.ID">To</label>
              <input [attr.id]="'to-time'+event.ID" class="form-control" type="time" type="time" min="08:00" max="20:00"
								(change)="restrictEventTime($event)"
								[(ngModel)]='event.eventEndTime' formControlName="eventEndTime" required>
              <div class="invalid-tooltip">
                Only within school hours (8:00 AM - 8:00 PM)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- seminar hours -->
    <div class="row gx-4">
			<div class="col-md-4 mb-3">
				<label [attr.for]="'seminar-hours'+event.ID" class="form-label">Seminar Hours</label>
				<input [attr.id]="'seminar-hours'+event.ID" class="form-control form-control-sm" type="number"
					oninput="this.value = this.value >= 0 ? this.value : null" formControlName="eventSeminarHours"
					[(ngModel)]='event.eventSeminarHours' required>
			</div>

      <!-- qr code extent -->
			<div class="col-md-8 mb-3">
				<label [attr.for]="'qr-code'+event.ID" class="form-label">
          QR Code Extent&nbsp;
          <i class="bi bi-question-circle-fill" style="opacity: 0.6;"
            title="If attendance is strict, select 'Beginning and End'&#10;to only allow attendees who are present to the whole event"
            data-bs-toggle="tooltip" data-bs-placement="right"></i>
        </label>
        <select [attr.id]="'qr-code'+event.ID" class="form-select form-select-sm"
          formControlName="eventIsStrict"[(ngModel)]="event.eventIsStrict">
					<option value="" selected disabled hidden>Select QR Code Extent</option>
					<option>Beginning only</option>
					<option selected>Beginning and End</option>
				</select>
			</div>
    </div>

    <hr>

    <!-- invite departments -->
    <div class="mb-3">
      <label [attr.for]="'invite-department'+event.ID" class="form-label mt-3">Invite Departments</label>
      <div class="input-group input-group-sm">
        <input [attr.id]="'invite-department'+event.ID" class="form-control" type="text" [value]="chosenDepartmentsList" readonly required>
        <button class="btn btn-primary" type="button" style="border-radius: 0 0.375rem 0.375rem 0;" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <i class="bi bi-plus"></i>
        </button>
        <ul class="dropdown-menu">
          <!-- <li *ngFor="let department of departments" class="dropdown-item d-flex justify-content-between align-items-center">
            <label>{{department.department_code}}</label>
            <input class="form-check-input ms-4 me-1" type="checkbox" value="" aria-label="..." (change)="onNativeChange($event, department)">
          </li> -->
          <label *ngFor="let department of departments" style="display: block; cursor: pointer;">
            <li class="dropdown-item d-flex justify-content-between align-items-center">
              {{department.department_code}}
              <input class="form-check-input me-1 mt-0" type="checkbox" value="" aria-label="..." (change)="onNativeChange($event, department)">
            </li>
          </label>
        </ul>
      </div>
    </div>

    <!-- invite speakers -->
    <div class="mb-3">
      <label [attr.for]="'invite-speakers'+event.ID" class="form-label">Invite Speakers</label>
      <div class="input-group input-group-sm">
        <input [attr.id]="'invite-speakers'+event.ID" class="form-control" type="text" [value]="chosenSpeakersList" formControlName="eventSpeakers" readonly required>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#speaker-modal'+event.ID" aria-expanded="false">
          <i class="bi bi-person-plus-fill"></i>
        </button>
      </div>
    </div>

    <!-- registration form -->
    <div>
      <label [attr.for]="'registration-form'+event.ID" class="form-label">Registration Form</label>
      <input [attr.id]="'registration-form'+event.ID" class="form-control form-control-sm" type="text" [(ngModel)]='event.eventRegistrationForm' formControlName="eventRegistrationForm" required>
    </div>
  </form>
</div>

<!-- preview event modal  -->
<div class="modal fade" [attr.id]="'preview-event-modal'+event.ID" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Event Preview</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
				<div class="card">

					<div class="change-poster user-select-none" onclick="document.getElementById('upload-event-poster').click();">
						<p class="upload-event-poster-text text-center">Change event poster</p>
						<input id="upload-event-poster" class="btn-change-poster" type="file">
						<img class="event-poster" src="../../../../assets/earth cake 2.png">
						<!-- <div class="event-poster"></div> -->
					</div>

					<div class="card-body">
						<h6 class="card-title">{{event.eventName.length == 0 ? 'Lorem Ipsum' : event.eventName}}</h6>
						<p class="card-subtitle mb-2 text-muted">{{event.eventDate | date}}</p>
						<p class="card-text">
							{{event.eventDetails.length == 0
								? 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
								: event.eventDetails}}</p>
						<p class="event-time">
							{{startTime | date:'h:mm a'}} - {{endTime | date:'h:mm a'}} &nbsp;●&nbsp; {{event.eventSeminarHours}} hr</p>
					</div>
					<div class="progress event-progress-bar">
						<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>

<!-- speaker modal -->
<div class="modal fade" [attr.id]="'speaker-modal'+event.ID" data-bs-backdrop="false" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Add Speakers</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="input-group input-group-sm mb-4">
          <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
          <input type="text" class="form-control" placeholder="Search speaker..."
            [(ngModel)]="searchText" aria-label="Search speaker">
        </div>

        <div class="mb-2" [style.display]="this.chosenSpeaker.length >= 1 ? 'block' : 'none'">
          <p class="mb-2">Chosen Speakers: {{this.chosenSpeaker.length}}</p>

          <ul class="list-group">
            <ng-container *ngFor="let speaker of chosenSpeaker">
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-danger" type="button" (click)="removeSpeakerFromChosen(speaker)">Remove</button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>

        <div [style.display]="chosenSpeaker.length != speakers.length ? 'block' : 'none'">
          <p class="mb-2">Available Speakers: {{speakers.length - chosenSpeaker.length}}</p>

          <ul class="list-group">
            <ng-container *ngFor="let speaker of speakers | filter:searchText">
              <li class="list-group-item" *ngIf="!speaker.speaker_chosen">
                <div  class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-primary" type="button" (click)="addSpeaker(speaker)">Add</button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="collapse mt-3" [attr.id]="'add-speaker-collapse'+event.ID">
          <div class="card card-body" style="height: unset; border-radius: 0.25rem;">
            <!--form group for add speaker functionality-->
            <form [formGroup]='speakerForm' autocomplete="off">
              <div class="mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Full name" aria-label="full name"
                formControlName="speakerName" required>
                <div *ngIf="speakerName?.errors?.required && speakerName?.touched" class="text-danger text-helper mt-1">
                  Full name is required
                </div>
              </div>

              <div class="mb-2">
                <input type="email" class="form-control form-control-sm" placeholder="Email address"
                  aria-label="email address"
                  formControlName="speakerEmail" required>
                <span *ngIf="speakerEmail?.invalid && (speakerEmail?.dirty || speakerEmail?.touched)" class="validation-error">
                  <div *ngIf="speakerEmail?.errors?.required" class="text-danger text-helper mt-1">
                    Email is required
                  </div>
                  <div *ngIf="speakerEmail?.errors?.email" class="text-danger text-helper mt-1">
                    Invalid Email
                  </div>
                </span>
              </div>

              <div class="mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Description"
                  aria-label="description"
                  formControlName="speakerDescription" required>
                <div *ngIf="speakerDescription?.errors?.required && speakerDescription?.touched" class="text-danger text-helper mt-1">
                  Description is required
                </div>
              </div>

              <div class="d-grid mb-2">
                <button class="btn btn-sm btn-primary" type="button" [disabled]="speakerForm.invalid"
                  (click)="addNewSpeaker()">Save Speaker
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-sm btn-outline-primary me-auto" type="button"
          data-bs-toggle="collapse" [attr.data-bs-target]="'#add-speaker-collapse'+event.ID"
          aria-expanded="false" aria-controls="collapseExample">
          Create New Speaker
        </button>

        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
          (click)="saveSpeaker()">Save
        </button>
      </div>
    </div>
  </div>
</div>
