.event-container { 
  & .list-group-flush {
    margin-right: -36px;
  }
}

.status-pill {
  float: right;
  font-size: 12px;
  border-radius: 100px;
  padding: 3px 10px;

  &.sp-present {
    background-color: var(--green);
    color: white;
  }

  &.sp-absent {
    background-color: var(--red);
    color: white;
  }

  &.sp-not-registered {
    background-color: var(--yellow-orange);
    color: black;
  }
}

.status-filter {
  font-size: 12px;
  border: 1px solid;
  border-radius: 100px;
  padding: 4px 10px;
  cursor: pointer;

  &:not(:last-child) {
		margin-right: 6px;
	}

  &.sf-present {
    border-color: var(--green);
    color: var(--green);
  }

  &.sf-absent {
    border-color: var(--red);
    color: var(--red);
  }

  &.sf-not-registered {
    border-color: var(--yellow-orange);
    color: var(--yellow-orange-darker);
  }
}