:host-context(.content-compact) {
  .text-header {
    padding-bottom: 24px;
  }

  .text-header h4 {
    font-size: 28px;
    transition: font-size 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }
}

.text-header {
  height: 65px;
	display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 32px;
  transition: padding 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.text-header h4 {
  transition: font-size 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.text-header .header-buttons {
	display: flex;
	align-items: center;

	& * {
		display: inline;
		width: initial;
		// height: 36px;
	}

	& *:not(:last-child) {
		margin-right: 6px;
	}
}

.event-container { 
  height: 633px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 36px;
  transition: border-color ease-out 100ms, box-shadow ease-out 100ms;

  &:focus-within {
    border-color: var(--primary-color);
    box-shadow: 0 0 6px 0 rgba(103, 58, 183, 0.36);
    transition: border-color ease-in 100ms, box-shadow ease-in 100ms;
  }
}

.card-text-header {
    height: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-buttons {
	& i.far {
		margin: 4px 0 5px;
	}

	& .btn {
		background-color: rgba(0, 0, 0, 0.06);
		border-radius: 4px;
	}

	& *:not(:last-child) {
		margin-right: 6px;
	}
}

#profile-pic {
	width: 32px;
	height: 32px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
}