<div class="text-header d-flex">
  <h4>Event Details</h4>

   <div class="header-buttons">
    <button id="delete-button" class="btn btn-outline-danger rounded-pill" [disabled]="!isEditable">Delete</button> <!-- add dialog for delete reconfirmation -->
    <button id="save-button" class="btn btn-primary rounded-pill" [disabled]="!isEditable || isEventUpdating || !eventForm.dirty" (click)="editActiveEvent(uuid)">
      Save
      <span [style.display]="isEventUpdating ? 'inline-block' : 'none'">&nbsp;
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="visually-hidden">Loading...</span>
      </span>
    </button>
  </div>
</div>

<div class="gs-card overflow-hidden">
  <div class="row g-5">
    <div id="event-details-column" class="col-lg-7 col-xl-6">
      <div id="event-content" #eventContentColumn>
        <div class="gs-card-header mb-4">
          <div class="gs-card-text">
            <h5>{{event.eventName}}</h5>
          </div>

          <div class="gs-card-buttons">
            <!-- <button type="button" class="btn btn-sm" disabled>
              <i class="fas fa-share-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Share event"></i>
            </button> -->
            <button type="button" class="btn btn-sm" (click)="eventForm.reset(initialEventForm)" [disabled]="!eventForm.dirty">
              <i class="fas fa-history" data-bs-toggle="tooltip" data-bs-placement="top" title="Revert event details"></i>
            </button>
            <button type="button" class="btn btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#preview-event-modal'+event.ID" aria-expanded="false">
              <i class="far fa-image" data-bs-toggle="tooltip" data-bs-placement="top" title="Change Event Poster/Preview Event"></i>
            </button>
          </div>
        </div>

        <form [formGroup]='eventForm' autocomplete="off" #eventDetailsForm>

          <!-- event name -->
          <div class="mb-3">
            <label for="event-name" class="form-label">Event Name</label>
            <input id="event-name" class="form-control form-control-sm" type="text"
              [readonly]="!isEditable"
              [(ngModel)]='event.eventName' formControlName="eventName" required>
          </div>

          <!-- event details -->
          <div class="mb-3">
            <label for="event-details"  class="form-label">Event Details</label>
            <textarea id="event-details" class="form-control form-control-sm" type="text" style="resize: none;" rows="4"
              [readonly]="!isEditable"
              [(ngModel)]='event.eventDetails' formControlName="eventDetails" required></textarea>
          </div>

          <!-- date and time -->
          <div class="row gx-4">
            <div class="col-md-4 position-relative mb-3">
              <label for="date" class="form-label">Date</label>
              <input id="date" class="form-control form-control-sm has-validation" type="date" formControlName="eventDate" [min]="minDate"
                [readonly]="!isEditable" (change)="restrictEventDate($event)"
                [(ngModel)]='event.eventDate' required>
              <div class="invalid-tooltip">
                Please input a present or future date.
              </div>
            </div>

            <div class="col-md-8">
              <label for="from-time" class="form-label">
                Time&nbsp;
                <i class="bi bi-question-circle-fill qm-tooltip"
                  [attr.title]="'Within school hours - 8:00 AM to 8:00 PM'"
                  data-bs-toggle="tooltip" data-bs-placement="right"></i>
              </label>

              <div class="row g-2 mb-3">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm has-validation">
                    <label class="input-group-text" for="from-time" id="label-from-time">From</label>
                    <input id="from-time" class="form-control" type="time" formControlName="eventStartTime" min="08:00" max="20:00"
                      [readonly]="!isEditable" (change)="restrictEventTime($event)"
                      [(ngModel)]='event.eventStartTime' required>
                    <div class="invalid-tooltip">
                      Only within school hours (8:00 AM - 8:00 PM)
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="input-group input-group-sm has-validation">
                    <label class="input-group-text" for="to-time" id="label-to-time">To</label>
                    <input id="to-time" class="form-control" type="time" formControlName="eventEndTime" min="08:00" max="20:00"
                      [readonly]="!isEditable" (change)="restrictEventTime($event)"
                      [(ngModel)]='event.eventEndTime' required>
                    <div class="invalid-tooltip">
                      Only within school hours (8:00 AM - 8:00 PM)
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- seminar hours -->
          <div class="row gx-4">
            <div class="col-md-4 mb-3">
              <label for="seminar-hours" class="form-label">Seminar Hours</label>
              <input id="seminar-hours"  class="form-control form-control-sm"  type="number" min="0"
                oninput="this.value = this.value >= 0 ? this.value : null" formControlName="eventSeminarHours"
                [readonly]="!isEditable"
                [(ngModel)]='event.eventSeminarHours' required>
            </div>

            <!-- qr code extent -->
            <div class="col-md-8 mb-3">
              <label [attr.for]="'qr-code'+event.ID" class="form-label">
                QR Code Extent&nbsp;
                <i class="bi bi-question-circle-fill qm-tooltip"
                  title="If attendance is strict, select 'Beginning and End'&#10;to only allow attendees who are present to the whole event"
                  data-bs-toggle="tooltip" data-bs-placement="right"></i>
              </label>
              <select [attr.id]="'qr-code'+event.ID" class="form-select form-select-sm" formControlName="eventIsStrict">
                <option value="" selected disabled hidden>Select QR Code Extent</option>
                <option value="notStrict">Beginning only</option>
                <option value="strict">Beginning and End</option>
              </select>
            </div>
          </div>

          <!-- qr code links -->
          <div class="row">
            <label for="qr-code-link" class="form-label">
              QR Code Link&nbsp;
              <i class="bi bi-question-circle-fill qm-tooltip"
                title="You can generate qr code when the event is ongoing."
                data-bs-toggle="tooltip" data-bs-placement="right"></i>
            </label>

            <div class="input-group input-group-sm dropup mb-2">
              <label class="input-group-text" for="begin-qr-code-link" id="label-begin-qr-code-link">Beginning</label>
              <input id="begin-qr-code-link" class="form-control form-control-sm" type="text" [value]="beginQRCodeLink" readonly>

              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split dropup"
                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                [disabled]="isEditable || beginQRCodeLink.length != 0">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>

              <div class="dropdown-menu dropdown-menu-end p-2">
                <div class="d-grid gap-2">
                  <h6 class="dropdown-header text-center">Expiration</h6>
                  <div class="input-group input-group-sm">
                    <input id="begin-qr-code-expiration" class="form-control form-control-sm" type="number" min="5" max="30" value="10"
                    oninput="this.value = this.value >= 0 && this.value <= 30 ? this.value : null"
                    readonly>
                    <label class="input-group-text" for="begin-qr-code-expiration" id="label-begin-qr-code-expiration">min</label>
                  </div>
                  <button class="btn btn-sm btn-primary rounded-pill" type="button" (click)="generateBeginQRCode(uuid)">
                    Generate
                  </button>
                </div>
              </div>
            </div>

            <!-- hide when attendance is not strict -->
            <div class="input-group input-group-sm dropup mb-3" [style.display]="eventIsStrict === 'strict' ? 'flex' : 'none'">
              <label class="input-group-text" for="end-qr-code-link" id="label-begin-qr-code-link">End</label>
              <input id="end-qr-code-link" class="form-control form-control-sm" type="text" [value]="endQRCodeLink"
                [disabled]="!enableEndQRCodeLink" readonly>

              <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                [disabled]="!enableEndQRCodeLink || isEditable || endQRCodeLink.length != 0">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>

              <div class="dropdown-menu dropdown-menu-end p-2">
                <div class="d-grid gap-2">
                  <h6 class="dropdown-header text-center">Expiration</h6>
                  <div class="input-group input-group-sm">
                    <input id="end-qr-code-expiration" class="form-control form-control-sm" type="number" min="5" max="30" value="10"
                    oninput="this.value = this.value >= 0 && this.value <= 30 ? this.value : null"
                    readonly>
                    <label class="input-group-text" for="end-qr-code-expiration" id="label-end-qr-code-expiration">min</label>
                  </div>
                  <button class="btn btn-sm btn-primary rounded-pill" type="button" (click)="generateEndQRCode(uuid)">
                    Generate
                  </button>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <!-- invite deparments -->
          <div class="mb-3">
            <label for="invite-departments" class="form-label mt-3">Invite Departments</label>
            <div class="input-group input-group-sm">
              <input id="invite-departments" class="form-control" type="text"  [value]="chosenDepartmentsList" readonly required>
              <button class="btn btn-primary" style="border-radius: 0 0.375rem 0.375rem 0;" type="button"
                data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                [disabled]="!isEditable">
                <i class="bi bi-plus"></i>
              </button>
              <ul class="dropdown-menu">
                <label *ngFor="let department of departments" style="display: block; cursor: pointer;">
                  <li class="dropdown-item d-flex justify-content-between align-items-center">
                    {{department.department_code}}
                    <input class="form-check-input me-1 mt-0" type="checkbox" value="" aria-label="..." [checked]="department.department_chosen" (change)="onNativeChange($event, department)">
                  </li>
                </label>
              </ul>
            </div>
          </div>

          <!-- invite speakers -->
          <div class="mb-3">
            <label [attr.for]="'invite-speakers'+event.ID" class="form-label">Invite Speakers</label>
            <div class="input-group input-group-sm">
              <input [attr.id]="'invite-speakers'+event.ID" class="form-control" type="text" [value]="chosenSpeakersList" formControlName="eventSpeakers" readonly required>
              <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                [attr.data-bs-target]="'#speaker-modal'+event.ID" aria-expanded="false"
                [disabled]="!isEditable">
                <i class="bi bi-person-plus-fill"></i>
              </button>
            </div>
          </div>

          <!-- registration form -->
          <div>
            <label for="registration-form" class="form-label">Registration Form</label>
            <input id="registration-form"  class="form-control form-control-sm" type="text"
              [readonly]="!isEditable"
              formControlName="eventRegistrationForm" required>
          </div>

        </form>
      </div>
    </div>

    <div id="attendance-column" class="col-lg-5 col-xl-6">
      <div id="attendance-content" [style.height]="attendanceColumnHeight+'px'">
        <div class="gs-card-header mb-4">
          <div class="gs-card-text">
            <h5>Attendance</h5>
          </div>

          <div id="status-filter-tab" class="user-select-none">
            <span class="badge rounded-pill status-filter sf-present">Present - {{attendanceInfoIsHidden? 0 : presentCount}}</span>
            <span class="badge rounded-pill status-filter sf-absent">Absent - {{attendanceInfoIsHidden? 0 :absentCount}}</span>
            <span class="badge rounded-pill status-filter sf-not-registered">Registered - {{registeredCount}}</span>
          </div>

        </div>

        <ul class="list-group list-group-flush">
          <ng-container *ngFor="let registrant of registeredStudents">
            <li class="list-group-item">{{registrant.name}}. - {{registrant.course_code}}
              <span *ngIf="registrant.is_present && !attendanceInfoIsHidden" class="badge rounded-pill status-pill sp-present">Present</span>
              <span *ngIf="!registrant.is_present && !attendanceInfoIsHidden" class="badge rounded-pill status-pill sp-absent">Absent</span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- preview event modal  -->
<div class="modal fade" [attr.id]="'preview-event-modal'+event.ID" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Event Preview</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
				<div class="event-card card">
					<div class="change-poster user-select-none" [ngClass]="{'no-hover' : !isEditable}" onclick="document.getElementById('upload-event-poster').click();">
						<p class="upload-event-poster-text text-center">Change event poster</p>
						<input id="upload-event-poster" class="btn-change-poster" type="file">
						<img class="event-poster" src="../../../../assets/earth cake 2.png">
						<!-- <div class="event-poster"></div> -->
					</div>

					<div class="card-body">
						<h6 class="card-title">{{event.eventName.length == 0 ? 'Lorem Ipsum' : event.eventName}}</h6>
						<p class="card-subtitle mb-2 text-muted">{{event.eventDate | date}}</p>
						<p class="card-text">
							{{event.eventDetails.length == 0
              ? 'Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
              : event.eventDetails}}
            </p>
            <div class="extra-details-pills">
              <span class="badge rounded-pill">{{startTime | date:'h:mm a'}} - {{endTime | date:'h:mm a'}}</span>
              <span class="badge rounded-pill">{{event.eventSeminarHours}} seminar hr</span>
            </div>
					</div>
					<div class="progress event-progress-bar">
						<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>

<!-- speaker modal -->
<div class="modal fade" [attr.id]="'speaker-modal'+event.ID" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Add Speakers</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="input-group input-group-sm mb-3">
          <input type="text" class="form-control" placeholder="Search speaker..." [(ngModel)]="searchText" aria-label="Search speaker">
          <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
        </div>

        <!-- <div [style.display]="this.chosenSpeaker.length >= 1 ? 'block' : 'none'">
          <p class="mb-2">Chosen Speakers: {{this.chosenSpeaker.length}}</p>

          <ul class="list-group">
            <ng-container *ngFor="let speaker of chosenSpeaker">
              <li class="list-group-item">
                <div class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-outline-danger rounded-pill" type="button"
                      (click)="removeSpeakerFromChosen(speaker)">
                      Remove
                    </button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="mt-3" [style.display]="chosenSpeaker.length != speakers.length ? 'block' : 'none'">
          <p class="mb-2">Available Speakers: {{speakers.length - chosenSpeaker.length}}</p>

          <ul class="list-group">
            <ng-container *ngFor="let speaker of speakers | filter:searchText">
              <li class="list-group-item" *ngIf="!speaker.speaker_chosen">
                <div  class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-outline-primary rounded-pill" type="button"
                      (click)="addSpeaker(speaker)">
                      Add
                    </button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div> -->

        <div>
          <p class="mb-2">Available Speakers: {{speakers.length}}</p>

          <ul class="list-group">
            <ng-container *ngFor="let speaker of speakers | filter:searchText">
              <li class="list-group-item">
                <div  class="d-flex align-items-center">
                  <div class="profile-pic"></div>
                  <div class="mx-3">
                    <p class="mb-0" style="font-size: 14px;">{{speaker.speaker_name}}</p>
                    <p class="mb-0" style="font-size: 12px; color: var(--primary-color)">{{speaker.speaker_email}}</p>
                  </div>
                  <div style="margin-left: auto;">
                    <button class="btn btn-sm btn-outline-primary rounded-pill" type="button"
                      *ngIf="!speaker.speaker_chosen"
                      (click)="addSpeaker(speaker)">
                      Add
                    </button>
                    <button class="btn btn-sm btn-outline-danger rounded-pill" type="button"
                      *ngIf="speaker.speaker_chosen"
                      (click)="removeSpeakerFromChosen(speaker)">
                      Remove
                    </button>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>

        <div id="add-speaker-collapse" class="collapse">
          <div class="card card-body mt-3" style="height: unset; border-radius: 0.25rem;">
            <!--form group for add speaker functionality-->
            <form [formGroup]='speakerForm' autocomplete="off">
              <div class="mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Full name" aria-label="full name"
                formControlName="speakerName" required>
                <div *ngIf="speakerName?.errors?.required && speakerName?.touched" class="text-danger text-helper mt-1">
                  Full name is required
                </div>
              </div>

              <div class="mb-2">
                <input type="email" class="form-control form-control-sm" placeholder="Email address"
                  aria-label="email address"
                  formControlName="speakerEmail" required>
                <span *ngIf="speakerEmail?.invalid && (speakerEmail?.dirty || speakerEmail?.touched)" class="validation-error">
                  <div *ngIf="speakerEmail?.errors?.required" class="text-danger text-helper mt-1">
                    Email is required
                  </div>
                  <div *ngIf="speakerEmail?.errors?.email" class="text-danger text-helper mt-1">
                    Invalid Email
                  </div>
                </span>
              </div>

              <div class="mb-3">
                <input type="text" class="form-control form-control-sm" placeholder="Description"
                  aria-label="description"
                  formControlName="speakerDescription" required>
                <div *ngIf="speakerDescription?.errors?.required && speakerDescription?.touched" class="text-danger text-helper mt-1">
                  Description is required
                </div>
              </div>

              <div class="d-grid">
                <button class="btn btn-sm btn-primary rounded-pill" type="button" [disabled]="speakerForm.invalid"
                  (click)="addNewSpeaker()">Save Speaker</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-sm btn-outline-primary rounded-pill me-auto" type="button"
          data-bs-toggle="collapse" data-bs-target="#add-speaker-collapse"
          aria-expanded="false" aria-controls="collapseExample">
          Create New Speaker
        </button>

        <button type="button" class="btn btn-outline-secondary rounded-pill btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary rounded-pill btn-sm position-relative" data-bs-dismiss="modal"
          (click)="saveSpeaker()">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark border border-primary"
            [style.display]="chosenSpeaker.length > 0 ? 'block' : 'none'">
            {{chosenSpeaker.length}}
            <span class="visually-hidden">number of speakers</span>
          </span>
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!--QR CODE MODAL-->
<!-- <div class="modal fade" id="qr-code-modal" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Generate QR Code</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div> -->
