<div class="text-header">
	<h4>Individual Event Analytics</h4>

  <div class="header-buttons">
    <form>
<!--      <select class="form-select">-->
<!--          <option value="" selected disabled hidden>Select Course</option>-->
<!--          <option></option>-->
<!--      </select>-->
    </form>
  </div>
</div>

<div class="gs-card">
  <div class="gs-card-header mb-4">
		<div class="gs-card-text">
    	<h5>{{activeEvent?.event_title? activeEvent?.event_title: 'Event name' }}</h5>
		</div>
  </div>

  <div>
    <app-grouped-vertical-bar-chart [summarizedData]="multi"></app-grouped-vertical-bar-chart>
  </div>
  <div>
    <app-pie-chart-grid></app-pie-chart-grid>
  </div>
</div>

