<div class="text-header d-flex">
  <h4 style="font-weight: 600;">Analytics</h4>

  <div class="header-buttons">
    <form>
      <select class="form-select">
          <option value="" selected disabled hidden>Select Course</option>
          <option></option>
      </select>
    </form>
  </div>
</div>

<div class="event-container">
  <div class="card-text-header mb-4">
    <h5>Event Name</h5>
  </div>

  <div>
    <app-grouped-vertical-bar-chart></app-grouped-vertical-bar-chart>
  </div>
  <div>
    <app-pie-chart-grid></app-pie-chart-grid>
  </div>
</div>

