<div class="profile-container container py-3 ms-0">
  <form>
    <div class="mb-3 d-flex flex-column align-items-center">
      <div class="profile-pic mb-3"></div>
      <p>Change profile picture</p>
    </div>

    <div class="mb-3">
      <label for="firstname" class="form-label">Full Name</label>
      <div class="input-group">
        <input id="firstname" type="text" class="form-control"  placeholder="First name" >
        <input id="middlename" type="text" class="form-control" placeholder="Middle name">
        <input id="lastname" type="text" class="form-control" placeholder="Last name">
      </div>
    </div>

    <div class="mb-3">
      <div class="input-group">
        <select id="department" class="form-select" required>
          <option value="" selected disabled hidden>Department</option>
        </select>
        <select id="course" class="form-select" requred>
          <option value="" selected disabled hidden>Course</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label" required>GC Domain Email</label>
      <input id="email" type="email" class="form-control">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label" required>Password</label>
      <input id="password" type="password" class="form-control">
    </div>

    <div class="mb-4">
      <label for="password_confirmation" class="form-label" required>Confirm Password</label>
      <input id="password_confirmation" type="password" class="form-control">
    </div>

    <div class="d-grid gap-3">
      <button type="submit" class="btn btn-lg btn-primary" type="submit">Save Changes</button>
    </div>
  </form>
</div>
