$sidenav-width: 72px;
$sidenav-expanded-width: 248px;

.homescreen-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidenav {
	width: $sidenav-width;
  min-width: $sidenav-width;
	background-color: var(--background);
	padding: 4px 12px 12px;
	transition: width 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
              min-width 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
							padding 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
	z-index: 0;
	
  
	& .nav-item {
	  white-space: nowrap;
		overflow: hidden;
	}

	& .nav-item i {
	  font-size: 18px;
	}
  
	& .nav-item a {
	  display: flex;
	  align-items: center;
	}
  
	& .nav-item p {
		color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
	  position: absolute;
	  left: 56px;
	  font-size: 14px;
	  margin: 0;
	  transition: visibility 300ms;
	}

	& .nav-item .active p {
		color: white;
	}
}
  
.sidenav-expanded {
	width: $sidenav-expanded-width;
  min-width: $sidenav-expanded-width;
	padding: 4px 16px 8px;

	& .nav-item p {
		visibility: visible;
	}
}
  
.sidenav-btn {
	color: var(--primary-color);
	width: 100%;
	height: 48px;
	border-radius: 12px;
	margin: 3px 0;
	cursor: pointer;
	position: relative;

	&.active {
		background-color: var(--primary-color);
	}

	&:hover:not(.active) {
		background-color: rgba(0, 0, 0, 0.08);
	}
}

#sidenav-menu-btn {
	width: 48px;
	color: black;

	&:active {
	background-color: rgba(0, 0, 0, 0.16);
	}
}

.main-content {
  // width: calc(100vw - $sidenav-width);
  background-color: white;
  color: black;
  padding: 0;
  z-index: 1;
  transition: width 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.content {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  height: calc(100vh - 64px);
  padding: 42px 64px;
  transition: padding 280ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.navbar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.03);
  padding-left: 64px;
  padding-right: 64px; 
  transition: padding 280ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#user-info {
	margin: 0 16px;
	text-align: right;

	& p {
		margin: 0;
	}

	& #username {
		font-weight: 500;
		margin-bottom: -2px;
	}

	& #gc-email {
		color: var(--primary-color);
		font-size: 12px;
	}
	
}

#profile-button {
	width: 36px;
	height: 36px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
	margin: auto 0;
}






.text-header {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 32px;
  transition: padding 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.text-header h4 {
  font-weight: 600;
  transition: font-size 280ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.header-buttons {
  display: flex;
  align-items: center;

  & .btn {
    display: inline;
    width: initial;
    // height: 36px;
  }

  & .btn:not(:last-child) {
    margin-right: 6px;
  }
}

.event-container { 
  height: min-content;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 36px;
  transition: border-color ease-out 100ms, box-shadow ease-out 100ms;
  overflow: auto hidden;

  &:focus-within {
    border-color: var(--primary-color);
    box-shadow: 0 0 6px 0 rgba(110, 60, 188, 0.36);
    transition: border-color ease-in 100ms, box-shadow ease-in 100ms;
  }
}

.card-text-header {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-buttons {
  & i.far {
    margin: 4px 0 5px;
  }

  & .btn {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 4px;
  }

  & *:not(:last-child) {
    margin-right: 6px;
  }
}

.profile-pic {
	width: 32px;
	height: 32px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
}





:host-context(.main-content-compact) {
  .text-header {
    padding-bottom: 24px;
  }

  .text-header h4 {
    font-size: 28px;
    transition: font-size 225ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  }
}

.main-content-compact {
  & .navbar {
    padding-left: 24px;
    padding-right: 24px; 
  }
  
  &  .content {
    padding: 24px;
  }
}

// // phone
// @media (min-width: 575.98px) {
//   .content {
//     padding: 24px;
//   }
// }

// tablet
@media (max-width: 991.98px) {
  .content {
    padding: 36px;
  }

  .navbar {
    padding-left: 36px;
    padding-right: 36px; 
  }

  .main-content-compact {
    & .navbar {
      padding-left: 24px;
      padding-right: 24px; 
    }

    & .content {
    padding: 24px;
    }
  }
}
