<div class="homescreen-container">
	<div class="sidenav user-select-none" [ngClass]="{'sidenav-expanded' : isSidenavExpanded}">
		<ul class="nav nav-pills nav-flush text-center">
			<li id="sidenav-menu-item" class="nav-item">
				<a id="sidenav-menu-btn" class="sidenav-btn nav-link" (click)='sidenav_status()'
					title="Menu" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi bi-list"></i>
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['events']"
				[ngClass]="{'active': currentPage === 'events'}"
				class="sidenav-btn nav-link active" title="Events" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi" [ngClass]="currentPage === 'events' ? 'bi-house-fill' : 'bi-house'"></i>
					<p>Events</p>
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['create-event']"
				[ngClass]="{'active': currentPage === 'create-event'}"
				class="sidenav-btn nav-link" title="Create Event" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi" [ngClass]="currentPage === 'create-event' ? 'bi-plus-square-fill' : 'bi-plus-square'"></i>
					<p>Create Event</p>
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['dashboard']"
				[ngClass]="{'active': currentPage === 'dashboard'}"
				class="sidenav-btn nav-link" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi" [ngClass]="currentPage === 'dashboard' ? 'bi-bar-chart-fill' : 'bi-bar-chart'"></i>
					<p>Dashboard</p>
				</a>
			</li>
		</ul>
	</div>

	<div class="main-content" [ngClass]="{'main-content-compact' : isSidenavExpanded}"
    [style.width]="'calc(100vw - ' + sidenavWidth + 'px)'">
		<nav class="navbar">
			<div class="container-fluid px-0">
				<a class="navbar-brand" [routerLink]="['/homescreen/events']">GC-SEAMS</a>

        <!-- <input type="text" class="form-control" placeholder="Search speaker..." aria-label="Search events"> -->

				<div class="d-flex">
					<div id="user-info">
						<p id="username">
              <!-- {{this.fullName}} -->
              Roy Flores Gopez
            </p>
						<p id="gc-email">
              <!-- {{this.email}} -->
              gcseams@gordoncollege.edu.ph
            </p>
					</div>
					<div class="btn-group">
						<button id="profile-button" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" [routerLink]="['/homescreen/profile']">Profile</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" (click)="logout()">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class="content">
			<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
		</div>
	</div>
</div>

