$sidenav-width: 64px;

:host {
  color: white;
}

.homescreen-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  // width: calc(100% - $sidenav-width);
}

.main-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 0;
}

.sidenav {
  min-width: $sidenav-width;
  background-color: #f8f8f8;
  align-items: center;
}

.sidenav-btn {
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin: 3px 0;
}

.sidenav .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex: 1;
  background-color: red;
}






// .bi {
//   vertical-align: -.125em;
//   pointer-events: none;
//   fill: currentColor;
// }

// .dropdown-toggle { outline: 0; }

// .nav-flush .nav-link {
//   border-radius: 0;
// }
