$sidenav-width: 64px;
$sidenav-expanded-width: 240px;

:host {
  color: white;
}

.homescreen-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidenav {
	min-width: $sidenav-width;
	background-color: #f8f8f8;
	padding: 4px 8px 8px;
	transition: min-width 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91),
							padding 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
	z-index: 0;
	
  
	& .nav-item {
	  white-space: nowrap;
		overflow: hidden;
	}
  
	& .nav-item a {
	  display: flex;
	  align-items: center;
	}
  
	& .nav-item p {
		color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
	  position: absolute;
	  left: 56px;
	  font-size: 14px;
	  margin: 0;
	  transition: visibility 300ms;
	}

	& .nav-item .active p {
		color: white;
	}
}
  
.sidenav-expanded {
	min-width: $sidenav-expanded-width;
	padding: 4px 12px 8px;

	& .nav-item p {
		visibility: visible;
	}
}
  
.sidenav-btn {
	color: var(--primary-color);
	width: 100%;
	height: 48px;
	border-radius: 8px;
	margin: 3px 0;
	cursor: pointer;
	position: relative;

	&.active {
		background-color: var(--primary-color);
	}

	&:hover:not(.active) {
		background-color: rgba(0, 0, 0, 0.08);
	}
}

#sidenav-menu-btn {
	width: 48px;
	color: black;

	&:active {
	background-color: rgba(0, 0, 0, 0.16);
	}
}

.main-content {
  width: calc(100% - $sidenav-width);
  background-color: white;
  color: black;
  padding: 0;
  z-index: 1;
}

.content {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  height: calc(100vh - 64px);
  padding: 32px 64px;
  transition: padding 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.content-compact {
	padding: 24px;
	transition: padding 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#user-info {
	margin: 0 16px;
	text-align: right;

	& p {
		margin: 0;
	}

	& #username {
		font-weight: 500;
		margin-bottom: -2px;
	}

	& #gc-email {
		color: var(--primary-color);
		font-size: 12px;
	}
	
}

#profile-button {
	width: 36px;
	height: 36px;
	background-color: var(--primary-color);
	border: none;
	border-radius: 50%;
	margin: auto 0;
}
