<div class="homescreen-container">
	<div class="sidenav" [ngClass]="{'sidenav-expanded' : isSidenavExpanded}">
		<ul class="nav nav-pills nav-flush flex-column text-center">
			<li class="nav-item">
				<a id="sidenav-menu-btn" class="sidenav-btn nav-link" (click)='sidenav_status()'
					title="Menu" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi bi-list"></i>
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['events']"
				[ngClass]="{'active': currentPage === 'events'}"
				class="sidenav-btn nav-link active" title="Events" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi" [ngClass]="currentPage === 'events' ? 'bi-house-fill' : 'bi-house'"></i>
					<p>Events</p>
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['create-event']"
				[ngClass]="{'active': currentPage === 'create-event'}"
				class="sidenav-btn nav-link" title="Create Event" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi" [ngClass]="currentPage === 'create-event' ? 'bi-plus-square-fill' : 'bi-plus-square'"></i>
					<p>Create Event</p>
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['dashboard']"
				[ngClass]="{'active': currentPage === 'dashboard'}"
				class="sidenav-btn nav-link" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
					<i class="bi" [ngClass]="currentPage === 'dashboard' ? 'bi-bar-chart-fill' : 'bi-bar-chart'"></i>
					<p>Dashboard</p>
				</a>
			</li>
		</ul>
	<!-- <div class="dropdown border-top">
		<a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
		<img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
		</a>
		<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
		<li><a class="dropdown-item" href="#">New project...</a></li>
		<li><a class="dropdown-item" href="#">Settings</a></li>
		<li><a class="dropdown-item" href="#">Profile</a></li>
		<li><hr class="dropdown-divider"></li>
		<li><a class="dropdown-item" href="#">Sign out</a></li>
		</ul>
	</div> -->
	</div>

	<div class="main-content container-fluid">
		<nav class="navbar">
			<div class="container-fluid">
				<a class="navbar-brand" [routerLink]="['/homescreen/events']">GC-SEAMS</a>

				<div class="d-flex">
					<div id="user-info">
						<p id="username">{{this.fullName}}</p>
						<p id="gc-email">{{this.email}}</p>
					</div>
					<div class="btn-group">
						<button id="profile-button" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" [routerLink]="['/homescreen/profile']">Profile</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" (click)="logout()">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class="content container-fluid" [ngClass]="{'content-compact' : isSidenavExpanded}">
			<router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
		</div>
	</div>
</div>

