<div class="input-group event-search-bar" [ngClass]="isSidenavExpanded ? 'mb-3' : 'mb-4'">
  <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
	<input type="text" class="form-control" placeholder="Search upcoming events..." [(ngModel)]="searchText" aria-label="Search speaker">
</div>

<div [ngClass]="isSidenavExpanded ? 'row g-3' : 'row g-4'">
	<events-event-card class="pending col-xl-3 col-lg-4 col-md-6 col-sm-12"
		*ngFor="let event of pendingEvents | filter:searchText" [item]="event"></events-event-card>
</div>