<div class="input-group event-search-bar mb-4">
	<!-- [ngClass]="isSidenavExpanded ? 'mb-4' : 'mb-5'" -->
  <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
	<input type="text" class="form-control" placeholder="Search upcoming events..." [(ngModel)]="searchText" aria-label="Search speaker">
</div>

<div [ngClass]="isSidenavExpanded ? 'row g-3' : 'row g-4'">
    <events-event-card class="pending col-sm-6 col-md-8 col-lg-4 col-xl-3"
      *ngFor="let event of pendingEvents | filter:searchText" [item]="event"
      [ngClass]="{
        'event-updated': event.event_uuid === updatedEventUUID,
        'event-new': markEventAsNew(event.event_uuid)
      }"></events-event-card>
</div>
