<div class="input-group mt-0">
  <input type="text" class="form-control" placeholder="Search ongoing events..." [(ngModel)]="searchText" aria-label="Search speaker">
  <span class="input-group-text" id="inputGroup-sizing-sm"><i class="bi bi-search"></i></span>
</div>

<events-event-card *ngFor="let event of ongoingEvents | filter:searchText" [item]="event" class="ongoing col-xl-3 col-lg-4 col-md-6 col-sm-12"></events-event-card>

<div class="ongoing col-xl-3 col-lg-4 col-md-6 col-sm-12">
  <div class="card">

    <div class="change-poster unselectable" data-bs-toggle="modal">
      <div class="btn-change-poster text-center">
				<!-- data-bs-toggle="modal" data-bs-target="#change-event-poster-modal" aria-expanded="false" -->
        Change event poster
      </div>
      <img class="event-poster" src="../../../../assets/earth cake 2.png">
    </div>

    <div class="card-body">
      <h6 class="card-title">Intro to Programming</h6>
      <p class="card-subtitle mb-2 text-muted">April 23, 2001</p>
      <p class="card-text">Computer programming is the process of designing and writing computer programs.
        As a skill set, it includes a wide variety of different tasks and techniques,
        but our tutorials are not intended to teach you everything.
        Instead, they are meant to provide basic, practical skills to help you understand and write computer code
        that reflects things you see and use in the real world.
      </p>
      <p class="event-time">12:00 PM - 4:00 PM &nbsp;●&nbsp; 10 hr</p>
      <a [routerLink]="['/homescreen/events/event-details']" class="stretched-link" style="color: transparent;"></a>
    </div>
    <div class="progress event-progress-bar">
      <div class="progress-bar progress-bar-animated progress-bar-striped"
        [style.width]="'50%'"
        role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>

<!-- change event poster modal  -->
<!-- single modal na pinapasa yung id or smth para di na gagawa ng modal per event -->
<!-- <div class="modal fade" id="change-event-poster-modal" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Change Event Poster</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off">
          
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div> -->
