/* You can add global styles to this file, and also import other style files */

:root {
  // purple
  // --background: #F9F7FC;
	// // --foreground: #1a0e2d;
  
	// --primary-color: #6E3CBC;
  // --primary-color-darker: #572FAD;
  // --red: #DC3545;
  // --green: #28A745;
  // --yellow-orange: #FFC107;
  // --yellow-orange-darker: #FFA000;

  // --primary-color-rgb: 110, 60, 188;



  // green

  --background-lighter: #F7FAF9;
  --background: #EFF5F3;
	--foreground: #040A08;
  --foreground-rgb: 4, 10, 8;

  --primary-color-900: #20503C;
  --primary-color-800: #2A6C56;
  --primary-color-700: #307C63;
  --primary-color-600: #368C72;
  --primary-color-500: #3B997E;
  --primary-color-400: #49A990;
  --primary-color-300: #63B9A2;
  --primary-color-200: #8CCDBC;
  --primary-color-100: #B8E0D6;
  
	// --primary-color: #259F6C;
  --primary-color: var(--primary-color-600);
  --primary-color-darker: var(--primary-color-800);
  --red: #DC3545;
  --green: #28A745;
  --yellow-orange: #FFC107;
  --yellow-orange-darker: #FFA000;

  --primary-color-rgb: 54, 140, 114;
}

$navbar-height: 64px;

html, body { 
  height: 100%;
  // overflow: hidden;
}

body { 
  color: rgba(var(--foreground-rgb), 0.87);
  font-family: Rubik,"Helvetica Neue", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

hr {
  background-color: var(--bs-gray-600);
}

::selection {
  color: white;
  background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.gs-dialog {
  border-radius: 12px !important;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
}

// /* width */
// ::-webkit-scrollbar {
//   width: 14px;
//   height: 14px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   // background: #f1f1f1;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius: 9999px;
//   border: solid 3px transparent;
//   background-clip: content-box;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: var(--primary-color);
//   border: solid 3px transparent;
//   background-clip: content-box;
// }

// i.bi {
//   vertical-align: -.125em;
// }

.dropdown-item {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// .row {
//   transition: margin 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);

//   & > * {
//     transition: padding 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91), margin 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);;
//   }
// }



// CHANGE BOOTSTRAP

// button
.btn {
	padding: 0.375rem 0.875rem;
	font-size: 0.875rem;
	border-radius: 0.375rem;
}

.btn-group-sm>.btn, .btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: .875rem;
	border-radius: 0.375rem;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border-radius: 0.5rem;
}

.btn-group-sm>.btn.rounded-pill, .btn-sm.rounded-pill {
	padding: 0.25rem 0.75rem;
}

// text field
.form-control {
  // background-color: var(--background-lighter);
	// border: none;
	border: 1px solid var(--bs-gray-300);
	border-radius: 0.375rem;
}

.form-control-sm {
	// padding: 0.25rem 0.5rem;
	// font-size: .875rem;
	border-radius: 0.375rem;
}

.form-control-lg {
	border-radius: 0.5rem;
}

// select
.form-select {
  // background-color: var(--background);
	// border: none;
	border: 1px solid var(--bs-gray-300);
	border-radius: 0.375rem;
}

.form-select-sm {
	// padding-top: 0.25rem;
	// padding-bottom: 0.25rem;
	// padding-left: 0.5rem;
	border-radius: 0.375rem;
}

.form-select-lg {
	border-radius: 0.5rem;
}

// input group
.input-group-text {
	border-radius: 0.375rem;
}

.input-group-sm>.btn, .input-group-sm>.form-control,
.input-group-sm>.form-select, .input-group-sm>.input-group-text {
	border-radius: 0.375rem;
}

.input-group-lg>.btn, .input-group-lg>.form-control,
.input-group-lg>.form-select, .input-group-lg>.input-group-text {
	border-radius: 0.5rem;
}

// .input-group-text {
// 	border-radius: 0.5rem;
// }




// RECOLOR

// BUTTONS

.btn-check:focus+.btn, .btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.5);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-darker);
  border-color: var(--primary-color-darker);
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active, .btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.5);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  background-color: var(--primary-color-darker);
  border-color: var(--primary-color-darker);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-check:focus+.btn-danger, .btn-danger:focus {
  // color: #fff;
  // background-color: #bb2d3b;
  // border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
}

.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.5);
}

.btn-outline-primary {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.5);
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus {
  background-color: #5c636a;
  border-color: #565e64;
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

// MENU

.dropdown-menu {
  color: var(--foreground);
  // border: 1px solid rgba(0,0,0,.15);
}

// MENU ITEM

.dropdown-item {
  color: rgba(var(--foreground-rgb), 0.87);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: var(--primary-color);
}

// CHECKBOX/RADIO

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-input:focus {
  border-color: var(--primary-color-700);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.25);
}

// TEXTBOX/TEXTFIELD

.form-control:focus {
  // background-color: var(--background);
  border-color: var(--primary-color-300);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.25);
}

.form-select:focus {
  // background-color: var(--background);
	border-color: var(--primary-color-300);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.25);
}

.input-group-text {
	background-color: var(--background);
	border: 1px solid var(--bs-gray-300);
}

// ACCORDION 

.accordion-button:focus {
  border-color: var(--primary-color-300);
  box-shadow: 0 0 0 0.25rem rgba(var(--primary-color-rgb), 0.25);
}

// badge

.border-primary {
  border-color: var(--primary-color) !important;
}





.no-hover {
  pointer-events: none;
}

.navbar {
  background-color: white;
  min-height: $navbar-height;
  padding: 8px 16px;
}

.navbar-brand {
  color: var(--primary-color);
  font-weight: 500;

  &:hover {
    color: var(--primary-color-300);
  }
}

.text-helper {
  font-size: .8em;
}

.qm-tooltip {
  opacity: 0.24;
}