/* You can add global styles to this file, and also import other style files */

$navbar-height: 64px;

html, body { 
    height: 100%;

}

body { 
    margin: 0;
    font-family: Rubik,"Helvetica Neue", sans-serif;
}

.navbar {
    background-color: white;
    height: $navbar-height;
    padding: 0 12px;
}

.navbar-brand {
    font-weight: 500;
}