/* You can add global styles to this file, and also import other style files */

:root {
	--primary-color: #673ab7;
  --red: #DC3545;
  --green: #28A745;
  --yellow-orange: #FFC107;
  --yellow-orange-darker: #FFA000;
    // --primary-color-rgb: rgb(103, 58, 183);
}

$navbar-height: 64px;

html, body { 
    height: 100%;
    // overflow: hidden;
}

body { 
    margin: 0;
    font-family: Rubik,"Helvetica Neue", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

i.bi {
    vertical-align: -.125em;
}

.navbar {
    background-color: white;
    min-height: $navbar-height;
    padding: 8px 16px;
}

.navbar-brand {
    color: black;
    font-weight: 500;
}

.text-helper {
    font-size: .8em;
}