#qr-code-container {
  width: min-content;
}

#qr-code-background {
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 4px 24px 0 rgba(var(--primary-color-rgb), 0.36);
  padding: 36px 48px 0;
}