<div class="register-body">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['']">GC-SEAMS</a>
        </div>
    </nav>

    <div class="register-container container">
        <main class="form-register">
            <h1 class="mb-4">Register to GC-SEAMS</h1>

            <form [formGroup]='profileForm'>

                <div class="mb-3">
                    <label for="firstname" class="form-label">Full Name</label>
                    <div class="input-group">
                        <input id="firstname" type="text" class="form-control" formControlName="firstname" placeholder="First name" required>
                        <input id="middlename" type="text" class="form-control" formControlName="middlename" placeholder="Middle name" required>
                        <input id="lastname" type="text" class="form-control" formControlName="lastname" placeholder="Last name" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="firstname" class="form-label">Year & Course</label>
                    <div class="input-group">
                        <select id="year" class="form-select" required>
                            <option>1</option>    
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>

                        <select id="course" class="form-select" required>
                            <option>BSCS</option>    
                            <option>BSIT</option>
                            <option>ACT</option>
                        </select>
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="email" class="form-label">GC Domain Email</label>
                    <input id="email" type="email" class="form-control" formControlName="email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" class="form-control" formControlName="password" required>
                </div>

                <div class="mb-4">
                    <label for="password_confirmation" class="form-label">Confirm Password</label>
                    <input id="password_confirmation" type="password" class="form-control" formControlName="password_confirmation" required>
                </div>    

                <div class="d-grid">
                    <button id="submit_button" type="submit" class="btn btn-lg btn-secondary" (click)='register()'>Register</button>
                </div>
            </form>
        </main>
    </div>
</div>